$full-height : 100%;
$full-width  : 100%;

$bold-text   : "aileronbold";
$semi-b-text : "aileronsemibold";
$light-text  : "aileronlight";
$thin-text   : "aileronthin";
$regular-text: "aileronregular";

 $font11 : 11px;
 $font12 : 12px;
 $font13 : 13px;
 $font15 : 15px;
 
 $center : center;
 $right  : right;
 $left   : left;   
 
 $transparent : transparent;
 $black       : #000;
 $white       : #fff;
 $lgray-1     : #ccc;
 $lgray-2     : #f2f2f2;
 $lgray-3     : #aaa;
 $lgray-4     : #f8f8f8;
 $lgray-5     : #dddddd;
 $lgray-6     : #f1f1f1;
 $dgray-1     : #202020;
 $dgray-2     : #777;
 $dgray-3     : #7f7f7f;
 $dgray-4     : #727272;
 $blue-1      : #2d76fc;
 $orange-1    : #f9903a;
 $red-1       : #ee383d;
 $green-1     : #2ecc71;
 
 $relative : relative;
 $absolute : absolute;
 $static   : static;
 $fixed    : fixed;
 
 $no-margin : 0;
 
 $none     : none;
 $block    : block;
 $inline   : inline;
 $inline-b : inline-block;

$sprite-background : url('../images/sprite.png');
$sprite-bg-size: 250px;