/* transition mixin */
#loginModal .modal-dialog,
#signupModal .modal-dialog {
  max-width: 480px;
}
#loginModal .modal-content,
#signupModal .modal-content {
  border-radius: 0;
}
#loginModal .modal-content .modal-body,
#signupModal .modal-content .modal-body {
  padding: 0;
}

#login,
#signup,
#forgotpassword {
  padding: 50px 15px;
  width: 100%;
  border: 1px solid #c7c7c7;
}
#login .alert,
#signup .alert,
#forgotpassword .alert {
  font-size: 12px;
  border-radius: 0;
  padding: 10px;
}
#login form,
#signup form,
#forgotpassword form {
  max-width: 300px;
  margin: 0 auto;
}
#login .topForm,
#signup .topForm,
#forgotpassword .topForm {
  margin-bottom: 28px;
}
#login .topForm img,
#signup .topForm img,
#forgotpassword .topForm img {
  width: 100%;
  height: auto;
  max-width: 39.5px;
}
#login .topForm h2,
#signup .topForm h2,
#forgotpassword .topForm h2 {
  font-size: 28px;
  font-family: "aileronlight";
  padding-left: 15px;
}
#login .midForm .form-group,
#signup .midForm .form-group,
#forgotpassword .midForm .form-group {
  margin-bottom: 9px;
}
#login .midForm .form-group input,
#signup .midForm .form-group input,
#forgotpassword .midForm .form-group input {
  border-radius: 0;
  border: 1px solid #ccc;
  height: 40px;
}
#login .midForm .form-group input:focus,
#signup .midForm .form-group input:focus,
#forgotpassword .midForm .form-group input:focus {
  box-shadow: none;
}
#login .midForm .input-group,
#signup .midForm .input-group,
#forgotpassword .midForm .input-group {
  margin-bottom: 9px;
}
#login .midForm .input-group input,
#signup .midForm .input-group input,
#forgotpassword .midForm .input-group input {
  border: 1px solid #ccc;
  border-radius: 0;
  border-right: 0;
  height: 40px;
}
#login .midForm .input-group input:focus,
#signup .midForm .input-group input:focus,
#forgotpassword .midForm .input-group input:focus {
  box-shadow: none;
}
#login .midForm .input-group .input-group-addon,
#signup .midForm .input-group .input-group-addon,
#forgotpassword .midForm .input-group .input-group-addon {
  border: 1px solid #ccc;
  border-radius: 0;
  border-left: 0;
  background: #fff;
  cursor: pointer;
}
#login .midForm .input-group .input-group-addon button,
#signup .midForm .input-group .input-group-addon button,
#forgotpassword .midForm .input-group .input-group-addon button {
  background: none;
  padding: 0;
  border: 0;
}
#login .midForm .sbmit-btn,
#login .midForm .forgot-pass,
#signup .midForm .sbmit-btn,
#signup .midForm .forgot-pass,
#forgotpassword .midForm .sbmit-btn,
#forgotpassword .midForm .forgot-pass {
  width: 50%;
  float: left;
  margin-bottom: 9px;
}
#login .midForm .sbmit-btn button,
#signup .midForm .sbmit-btn button,
#forgotpassword .midForm .sbmit-btn button {
  max-width: 120px;
  width: 100%;
  border: 0;
  border-radius: 0;
  background: #2d76fc;
  color: #fff;
  font-size: 16px;
  height: 40px;
  font-family: "aileronbold";
}
#login .midForm .sbmit-btn button:hover,
#signup .midForm .sbmit-btn button:hover,
#forgotpassword .midForm .sbmit-btn button:hover {
  opacity: 0.8;
}
#login .midForm .sbmit-btn button.btn-disabled,
#signup .midForm .sbmit-btn button.btn-disabled,
#forgotpassword .midForm .sbmit-btn button.btn-disabled {
  pointer-events: none;
}
#login .midForm .sbmit-btn button.btn-disabled :hover,
#signup .midForm .sbmit-btn button.btn-disabled :hover,
#forgotpassword .midForm .sbmit-btn button.btn-disabled :hover {
  background: #2d76fc;
}
#login .midForm .forgot-pass,
#signup .midForm .forgot-pass,
#forgotpassword .midForm .forgot-pass {
  line-height: 40px;
  text-align: right;
}
#login .midForm .forgot-pass a,
#signup .midForm .forgot-pass a,
#forgotpassword .midForm .forgot-pass a {
  font-size: 12px;
  color: #aaa;
}
#login .midForm .forgot-pass a:hover,
#signup .midForm .forgot-pass a:hover,
#forgotpassword .midForm .forgot-pass a:hover {
  color: #2d76fc;
}
#login .botForm,
#signup .botForm,
#forgotpassword .botForm {
  clear: both;
  padding-top: 41px;
}
#login .botForm ul,
#signup .botForm ul,
#forgotpassword .botForm ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#login .botForm ul li,
#signup .botForm ul li,
#forgotpassword .botForm ul li {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
#login .botForm ul li a,
#signup .botForm ul li a,
#forgotpassword .botForm ul li a {
  border: 1px solid #ccc;
  font-size: 16px;
  color: #aaa;
}
#login .botForm ul li a > i,
#signup .botForm ul li a > i,
#forgotpassword .botForm ul li a > i {
  margin-right: 10px;
}
#login .botForm ul li a:hover,
#signup .botForm ul li a:hover,
#forgotpassword .botForm ul li a:hover {
  background: #3b5998;
  border-color: #3b5998;
  color: #fff;
}
#login .botForm ul li a:hover > i,
#signup .botForm ul li a:hover > i,
#forgotpassword .botForm ul li a:hover > i {
  background-position: -175px -25px;
}
#login .botForm ul li:nth-child(2) a,
#signup .botForm ul li:nth-child(2) a,
#forgotpassword .botForm ul li:nth-child(2) a {
  border-top: 0;
}
#login .botForm ul li:nth-child(2) a > i,
#signup .botForm ul li:nth-child(2) a > i,
#forgotpassword .botForm ul li:nth-child(2) a > i {
  margin-right: 5px;
}
#login .botForm ul li:nth-child(2) a:hover,
#signup .botForm ul li:nth-child(2) a:hover,
#forgotpassword .botForm ul li:nth-child(2) a:hover {
  background: #d9534f;
  color: #fff;
  border-color: #d9534f;
}
#login .botForm ul li:nth-child(2) a:hover > i,
#signup .botForm ul li:nth-child(2) a:hover > i,
#forgotpassword .botForm ul li:nth-child(2) a:hover > i {
  background-position: -195px -25px;
}

#signupModal .midForm .input-group {
  margin-bottom: 0;
}
#signupModal .midForm .input-group input {
  border-bottom: 0;
}
#signupModal .midForm .input-group .input-group-addon {
  border-bottom: 0;
}
#signupModal .midForm .form-group {
  position: relative;
}
#signupModal .midForm .form-group label {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #aaa;
  position: absolute;
  top: 3px;
  left: 0;
  cursor: pointer;
  z-index: 1;
}
#signupModal .midForm .form-group span {
  display: inline-block;
  font-family: "aileronlight";
  font-size: 13px;
  position: relative;
  font-weight: normal;
  line-height: 16px;
  padding-left: 26px;
}
#signupModal .midForm .form-group span a {
  color: #202020;
  text-decoration: underline !important;
}
#signupModal .midForm .form-group input[type="checkbox"] {
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
#signupModal .midForm .form-group input[type="checkbox"]:checked ~ label {
  background: #2d76fc;
  border-color: #2d76fc;
}
#signupModal .midForm .form-group input[type="checkbox"]:checked ~ label:before {
  content: "";
  width: 4px;
  height: 8px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#signupModal .midForm .signup-btn button {
  width: 100%;
  border: 0;
  border-radius: 0;
  height: 60px;
  background: #2d76fc;
  color: #fff;
  font-family: "aileronbold";
  font-size: 20px;
}
#signupModal .midForm .signup-btn button:hover {
  opacity: 0.8;
}
#signupModal .midForm .signup-btn button.btn-disabled {
  pointer-events: none;
}
#signupModal .midForm .signup-btn button.btn-disabled:hover {
  background: #2d76fc;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*# sourceMappingURL=login-signup.css.map */
