@import "_variables.scss";
@import "_mixins.scss";

#loginModal,
#signupModal{
    .modal-dialog{ max-width: 480px; }
    .modal-content{
        border-radius: 0;
        .modal-body{
            padding: 0;
        }
    }
}

#login,
#signup,
#forgotpassword{
    padding: 50px 15px;
    width: 100%;
    border: 1px solid #c7c7c7;
    .alert{
        font-size: 12px;
        border-radius: 0;
        padding: 10px;
    }
    form{
        max-width: 300px;
        margin: 0 auto;        
    }
    .topForm{
        margin-bottom: 28px;
        img{
            width: 100%;
            height: auto;
            max-width: 39.5px;
        }
        h2{
            font-size: 28px;
            font-family: $light-text;
            padding-left: 15px;
        }
    }
    .midForm{
        .form-group{
            margin-bottom: 9px;
            input{
                border-radius: 0;
                border: 1px solid $lgray-1;
                height: 40px;
                &:focus{
                    box-shadow: none;
                }
            }
        }
        .input-group{
            margin-bottom: 9px;
            input{
                border: 1px solid $lgray-1;
                border-radius: 0;
                border-right: 0;
                height: 40px;
                &:focus{
                    box-shadow: none;
                }
            }
            .input-group-addon{
                border: 1px solid $lgray-1;
                border-radius: 0;
                border-left: 0;
                background: $white;
                cursor: pointer;
                button{
                    background: none;
                    padding: 0;
                    border: 0;
                }
            }
        }
        .sbmit-btn,
        .forgot-pass{
            width: 50%;
            float: left;
            margin-bottom: 9px;
        }
        .sbmit-btn{
            button{
                max-width: 120px;
                width: 100%;
                border: 0;
                border-radius: 0;
                background: $blue-1;
                color: $white;
                font-size: 16px;
                height: 40px;
                font-family: $bold-text;
                &:hover{
                    opacity: 0.8;
                }
                &.btn-disabled{
                    pointer-events: none;
                    :hover{
                        background: $blue-1;
                    }
                }
            }
        }
        .forgot-pass{
            line-height: 40px;
            text-align: right;
            a{
                font-size: 12px;
                color: $lgray-3;  
                &:hover{
                    color: $blue-1;
                }
            }
        }
    }
    .botForm{
        clear: both;
        padding-top: 41px;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                display: block;
                height: 50px;
                line-height: 50px;
                text-align: center;
                a{
                    border: 1px solid $lgray-1;                    
                    font-size: 16px;
                    color: $lgray-3;
                    > i{
                        margin-right: 10px;
                    }
                    &:hover{
                        background: #3b5998;
                        border-color: #3b5998;
                        color: $white;
                        > i{
                            @include background-position (350,50);
                        }
                    }
                }
                &:nth-child(2){
                    a{
                        border-top: 0;                    
                        > i{
                            margin-right: 5px;
                        }
                        &:hover{
                            background: #d9534f;
                            color: $white;
                            border-color: #d9534f;
                            > i{
                                @include background-position (390,50);
                            }
                        }
                    } 
                }
            }
        }
    }
}


#signupModal{
    .midForm{
        .input-group{
            margin-bottom: 0;
            input{
                border-bottom: 0;                
            }
            .input-group-addon{
                border-bottom: 0;
            }
        }
        .form-group{
            position: relative;
            label{
                display: inline-block;
                width: 16px;
                height: 16px;
                border: 1px solid $lgray-3;
                position: absolute;
                top: 3px;
                left: 0;
                cursor: pointer;
                z-index: 1;
            }
            span{
                display: inline-block;
                font-family: $light-text;
                font-size: 13px;
                position: relative;
                font-weight: normal;
                line-height: 16px;
                padding-left: 26px;
                a{
                    color: $dgray-1;
                    text-decoration: underline !important;
                }
            }
            input[type="checkbox"]{
                visibility: hidden;
                width: 0;
                height: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                &:checked{
                    ~ label{
                        background: $blue-1;
                        border-color: $blue-1;
                        &:before{
                            content: "";
                            width: 4px;
                            height: 8px;
                            border-bottom: 2px solid $white;
                            border-right: 2px solid $white;
                            position: absolute;
                            top: 3px;
                            left: 5px;
                            z-index: 2;
                            @include transform( rotate(45deg) );
                        }
                    }
                }
            }
        }
        .signup-btn{
            button{
                width: 100%;
                border: 0;
                border-radius: 0;
                height: 60px;
                background: $blue-1;
                color: $white;
                font-family: $bold-text;
                font-size: 20px;
                &:hover{
                    opacity: 0.8;
                }
                &.btn-disabled{
                    pointer-events: none;
                    &:hover{
                        background: $blue-1;
                    }
                }
            }
        }
    }
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

