/* transition mixin */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: #202020;
  width: 85px;
  height: 20px;
  line-height: 20px;
  top: 3px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 0 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.select-styled:after {
  content: "";
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: -232px 0px;
  width: 8px;
  height: 4.5px;
  position: absolute;
  top: 8px;
  left: 0;
}

/*.select-styled:hover {
    background-color: #b83729;
}*/
/*.select-styled:active, .select-styled.active {
    background-color: #ab3326;
}*/
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 23px;
  left: -3px;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  width: 147px;
  overflow: hidden;
}

.select-options li {
  margin: 0;
  padding: 5px 0;
  text-indent: 6px;
  display: block !important;
  color: #fff;
  font-size: 12px;
  border-left: 3px solid transparent;
  width: 100%;
  height: 30px;
}

.select-options li:hover {
  background-color: #2c3e50;
  border-left-color: #f9903a;
}

.select-options li[rel="hide"] {
  display: none !important;
}

.vectto-editInPlace > label .label {
  position: absolute;
  top: 0;
  left: -7px;
  color: #aaa;
  font-size: 12px;
  font-weight: normal;
  pointer-events: none;
}
.vectto-editInPlace > label input {
  width: 95%;
  border: none;
  padding: 0;
  color: #202020;
}
.vectto-editInPlace > label input:focus ~ .label {
  display: none;
}
.vectto-editInPlace .drop {
  display: none;
  position: absolute;
  top: 18px;
  left: 3px;
  width: 180px;
  z-index: 2;
}
.vectto-editInPlace .drop ul {
  list-style: none;
  padding: 0;
  height: 150px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
}
.vectto-editInPlace .drop ul li {
  position: relative;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.vectto-editInPlace .drop ul li > .edit-area > span {
  font-size: 12px;
  color: #fff;
  position: relative;
  display: inline-block;
}
.vectto-editInPlace .drop ul li > .edit-area > span .icon-edit {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  margin-left: 8px;
}
.vectto-editInPlace .drop ul li > .edit-area > .badge {
  position: absolute;
  top: 6px;
  right: 0;
  background: none;
  font-weight: normal;
  font-size: 10px;
  color: #aaa;
  line-height: 17px;
}
.vectto-editInPlace .drop ul li:hover:not(.editable) {
  background: #2c3e50;
  cursor: default;
}
.vectto-editInPlace .drop ul li:hover:not(.editable):before {
  content: "";
  width: 3px;
  height: 100%;
  background: #f9903a;
  position: absolute;
  top: 0;
  left: 0;
}
.vectto-editInPlace .drop ul li:hover:not(.editable) > .edit-area > span .icon-edit {
  visibility: visible;
  opacity: 1;
}
.vectto-editInPlace .drop .addnew {
  background: #2d76fc;
  visibility: hidden;
  opacity: 0;
}
.vectto-editInPlace .drop .addnew .input-group > div.form-control {
  background: none;
  border: none;
  font-size: 10px;
  color: #fff;
  padding: 10px 12px;
}
.vectto-editInPlace .drop .addnew .input-group .input-group-btn button {
  border: none;
  background: none;
  font-size: 10px;
  color: #fff;
}
.vectto-editInPlace .drop .addnew.show {
  visibility: visible;
  opacity: 1;
}
.vectto-editInPlace .drop .editable {
  position: relative;
}
.vectto-editInPlace .drop .editable .editold {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: #727272;
  height: 30px;
}
.vectto-editInPlace .drop .editable .input-group input {
  background: none;
  border: none;
  font-size: 12px;
  color: #fff;
  padding: 10px;
  height: 30px;
}
.vectto-editInPlace .drop .editable .input-group .input-group-btn button {
  border: none;
  background: none;
  font-size: 10px;
  color: #fff;
}
.vectto-editInPlace .drop.show, .vectto-editInPlace .drop.onfocus {
  display: block;
}

.tag-container {
  float: left;
}

.tag-item {
  border: 1px solid #a5d24a;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  float: left;
  padding: 0 5px;
  text-decoration: none;
  background: #cde69c;
  color: #638421;
  margin-right: 5px;
  font-family: "aileronlight";
  font-size: 12px;
  position: relative;
}
.tag-item.new-tag {
  background: #2d76fc;
  color: #fff;
  border-color: #2d76fc;
}
.tag-item.existing-tag {
  background: #dddddd;
  color: #202020;
  border-color: #dddddd;
}
.tag-item a {
  font-weight: bold;
  color: #82ad2b;
  text-decoration: none;
  font-size: 11px;
  background: rgba(222, 75, 75, 0.85);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  display: block;
  text-align: center;
}
.tag-item a i {
  vertical-align: middle;
}
.tag-item:hover {
  border-color: #de4b4b;
}
.tag-item:hover > a {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=tagsInput.css.map */
